<!DOCTYPE html>
<html>
<head>
	<title>UXTRA</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>

	<div id="pageError">
		<h1 id="logo">UXTRA</h1>
		<h1><%=error%></h1>
		<h1><%=message%></h1>
	</div>
</body>
</html>